body {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  margin: 0;
}

.header {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  padding: 0px 300px;
  padding-bottom: 100px;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.links {
  display: flex;
  gap: 10px;
}

.links, .subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.sub-header {
  display: flex;
  justify-content: space-between;
}

.sub-header-text-container {
  width: 300px;
}

.main-text {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: bolder;
}

.sign-up-button {
  background-color: #3882F6;
  border: none;
  color: white;
  font-size: 18px;
  padding: 6px 24px;
  text-align: center;
  border-radius: 5px;
}

.rabbit-image {
  height: 300px;
  width: auto;
  padding: 0 100px;
}

.info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 32px;
}

.tiles {
  display: flex;
  justify-content: center;
  gap: 50px;
  text-align: center;
}

.text {
  font-size: 18px;
  color: #1F2937;
}

img {
  height: 200px;
  width: 200px;
}

.quote-block {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.quote {
  font-size: 36px;
  color: #1F2937;
  width: 600px;
}

.author {
  font-size: 18px;
  font-weight: bold;
}